[submodule "seastar"]
	path = seastar
	url = git@github.com:scylladb/scylla-seastar
[submodule "swagger-ui"]
	path = swagger-ui
	url = git@github.com:scylladb/scylla-swagger-ui
[submodule "xxHash"]
	path = xxHash
	url = git@github.com:scylladb/xxHash
[submodule "libdeflate"]
	path = libdeflate
	url = git@github.com:scylladb/libdeflate
